<div class="dashboard">
  <h1 ng-if="username">Hello {{username}}</h1>
  <!-- I never really use <table> etc.. but its for the simplicity -->
  <div class="dashboard-tips" ng-if="tips !== undefined && tips.length > 0">
    <h3> Here are your most recent tips </h3>
    <table>
      <thead>
        <th>
          Name
        </th>
        <th>
          <!--Hopefully I will sort by this column soon-->
          Amount
        </th>
      </thead>
      <tbody class="tip-list">
        <tr class="tip" ng-repeat="tip in tips track by $index">
          <td>
            {{tip.tipperName}}
          </td>
          <td>
            {{tip.amount}}$
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dashboard-noob" ng-if="tips !== undefined && tips.length === 0">
    <h3> You havent made any tips lately. Work Harder ;) </h3>
  </div>
</div>
