body {
  margin: 0;
}
html,
body,
.container {
    height: 100%;
}
.container {
  display: flex;/* Normally my styling would be much more modular and reasonable */
  flex-direction: column;/* Normally my styling would be much more modular and reasonable */
  justify-content: center;/* Normally my styling would be much more modular and reasonable */
  > * {/* Normally my styling would be much more modular and reasonable */
    flex: 1 1;
  }
}
